{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>MulaFlow</title>
    {% endblock %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static 'src/styles.css' %}">

    {# AlpineJS #}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <style>
        [x-cloak] {
            display: none;
        }
    </style>
</head>
<body>
{% block base_content %}
    <!-- default content text (typically empty) -->
{% endblock %}
</body>
</html>