{% extends 'account/account_base.html' %}
{% load allauth account widget_tweaks %}

{% block account_content %}
    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text">
        Sign in to your account
    </h1>
    <form class="space-y-4 md:space-y-6" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="text-red-500">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        <div>
            <label for="{{ form.login.id_for_label }}" class="block mb-2 text-sm font-medium text-gray">{{ form.login.label }}</label>
            {% if form.login.errors %}
                {% render_field form.login class+="border border-red-500 text-red-500 sm:text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5" %}
                {% for error in form.login.errors %}
                    <ul class="text-red-500 text-sm mt-1">
                        <li>{{ error }}</li>
                    </ul>
                {% endfor %}
            {% else %}
                {% render_field form.login class+="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5" %}
            {% endif %}
            {% if form.login.errors %}
                {% render_field form.login class+="border border-red-500 text-red-500 sm:text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5" %}
                {% for error in form.login.errors %}
                    <ul class="text-red-500 text-sm mt-1">
                        <li>{{ error }}</li>
                    </ul>
                {% endfor %}
            {% else %}
                {% render_field form.login class+="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5" %}
            {% endif %}
        </div>
        <div>
            <label for="{{ form.password.id_for_label }}" class="block mb-2 text-sm font-medium text-gray">{{ form.password.label }}</label>
            {% if form.password.errors %}
                {% render_field form.password class+="border border-red-500 text-red-500 sm:text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5" %}
                {% for error in form.password.errors %}
                    <ul class="text-red-500 text-sm mt-1">
                        <li>{{ error }}</li>
                    </ul>
                {% endfor %}
            {% else %}
                {% render_field form.password class+="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5" %}
            {% endif %}
        </div>
        <div class="flex items-center justify-between">
            <div class="flex items-start">
                <div class="flex items-center h-5">
                    {% render_field form.remember class+="w-4 h-4 form-checkbox text-green-500 border border-gray-300 rounded focus:ring-3 focus:ring-green-500" %}
                </div>
                <div class="ml-3 text-sm">
                    <label for="{{ form.remember.id_for_label }}" class="text-gray-500">{{ form.remember.label }}</label>
                </div>
            </div>
            <a href="{% url 'account_reset_password' %}" class="text-sm font-medium text-green-500 hover:underline">Forgot password?</a>
        </div>
        {% if redirect_field_value %}
            <input type="hidden"
                   name="{{ redirect_field_name }}"
                   value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="w-full text-white bg-green-500 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Sign in</button>
        <p class="text-sm font-light text-gray-500">
            Don’t have an account yet? <a href="{{ signup_url }}" class="font-medium text-green-500 hover:underline">Sign up</a>
        </p>
    </form>
{% endblock %}