{% extends 'account/account_base.html' %}
{% load allauth account widget_tweaks %}

{% block account_content %}
    <div>
        {% if user.is_authenticated %}
                <h3 class="flex items-center bg-red-500/75 p-2 mb-4 rounded-full font-semibold leading-tight tracking-tight text-black/75 md:text">
                    <span class="bg-red-600 font-bold text-white/90 p-1 rounded-full mr-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                             class="w-5 h-5">
                            <path fill-rule="evenodd"
                                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </span>
                    You are already logged in as
                    <span class="text-white underline font-bold ml-1">{{ user.get_full_name }}</span>
                </h3>
        {% endif %}
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text">
            Reset Password
        </h1>
        <p class="font-medium leading-tight tracking-tight text-gray-400">
            Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it.
        </p>
    </div>
    <form class="space-y-4 md:space-y-6" method="POST" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        <div>
            <label for="{{ form.email.id_for_label }}" class="block mb-2 text-sm font-medium text-gray">Email</label>
            {% render_field form.email class+="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5" %}
        </div>
        <button type="submit" class="w-full text-white bg-green-500 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Reset My Password</button>
    </form>
{% endblock %}