{% extends 'account/account_base.html' %}
{% load allauth widget_tweaks %}

{% block account_content %}
    {% if token_fail %}
        <div>
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text">
                Bad Token
            </h1>
            <p class="font-medium leading-tight tracking-tight text-gray-400">
                The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.
            </p>
        </div>
    {% else %}
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text">
            Change Password
        </h1>

        <form class="space-y-4 md:space-y-6" method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {% for field in form %}
                    <div>
                        <label for="{{ field.id_for_label }}" class="block mb-2 text-sm font-medium text-gray">{{ field.label }}</label>
                        {% render_field field class+="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5" %}
                    </div>
            {% endfor %}
            <button type="submit" class="w-full text-white bg-green-500 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Change Password</button>
        </form>
    {% endif %}
{% endblock %}