{% extends 'account/account_base.html' %}
{% load allauth account widget_tweaks %}

{% block account_content %}
    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text">
        Sign up for an account
    </h1>
    <form class="space-y-4 md:space-y-6" method="POST" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <div>
            <label for="{{ form.username.id_for_label }}" class="block mb-2 text-sm font-medium text-gray">Username</label>
            {% render_field form.username class+="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5" %}
        </div>
        <div>
            <label for="{{ form.email.id_for_label }}" class="block mb-2 text-sm font-medium text-gray">Email</label>
            {% render_field form.email class+="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5" %}
        </div>
        <div class="flex items-center justify-between">
            <div>
                <label for="{{ form.first_name.id_for_label }}" class="block mb-2 text-sm font-medium text-gray">First Name</label>
                {% render_field form.first_name class+="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5" %}
            </div>
            <div>
                <label for="{{ form.last_name.id_for_label }}" class="block mb-2 text-sm font-medium text-gray">Last Name</label>
                {% render_field form.last_name class+="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5" %}
            </div>
        </div>
        <div>
            <label for="{{ form.password1.id_for_label }}" class="block mb-2 text-sm font-medium text-gray">Password</label>
            {% render_field form.password1 class+="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5" %}
        </div>
        <div>
            <label for="{{ form.password2.id_for_label }}" class="block mb-2 text-sm font-medium text-gray">Confirm Password</label>
            {% render_field form.password2 class+="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5" %}
        </div>
        {% if redirect_field_value %}
            <input type="hidden"
                   name="{{ redirect_field_name }}"
                   value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="w-full text-white bg-green-500 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Sign Up</button>
        <p class="text-sm font-light text-gray-500">
            Already have an account? <a href="{{ login_url }}" class="font-medium text-green-500 hover:underline">Sign in</a>
        </p>
    </form>
{% endblock %}