{% extends 'authenticated.html' %}

{% block content %}
    <div class="grid grid-cols-3 gap-11">
        <div class="w-full shadow-xl shadow-green-600/40 px-5 py-4 bg-green-600 rounded-3xl">
            <h4 class="text-green-900 text-xl font-semibold">SURPLUS</h4>
            <h4 class="text-white text-4xl font-extrabold">${{ budget_totals.surplus }}</h4>
        </div>
        <div class="w-full shadow-xl shadow-amber-500/40 px-5 py-4 bg-amber-500 rounded-3xl">
            <h4 class="text-amber-800 text-xl font-semibold">INCOME</h4>
            <h4 class="text-white text-4xl font-extrabold">${{ budget_totals.income }}</h4>
        </div>
        <div class="w-full shadow-xl shadow-red-600/40 px-5 py-4 bg-red-600 rounded-3xl">
            <h4 class="text-red-900 text-xl font-semibold">EXPENSES</h4>
            <h4 class="text-white text-4xl font-extrabold">${{ budget_totals.expenses }}</h4>
        </div>
        <div class="col-span-2 bg-gray-200 rounded-3xl shadow-xl p-5 space-y-4">
            <h4 class="text-gray-900 text-2xl font-extrabold">Upcoming Expenses</h4>
            <div class="space-y-2 overflow-y-scroll">
                {% for expense in expenses %}
                    {% if expense.due_date >= today %}
                        <div class="bg-gray-50 rounded-xl shadow p-3 flex justify-between">
                            <h4 class="w-1/3 text-gray-900 text-lg font-semibold">{{ expense.name }}</h4>
                            <h4 class="w-1/3 text-gray-900 text-lg text-center text-red-600 font-extrabold">${{ expense.amount }}</h4>
                            <h4 class="w-1/3 text-gray-900 text-lg text-end font-bold">{{ expense.due_date }}</h4>
                        </div>
                    {% else %}
                        <div class="bg-gray-50 opacity-50 rounded-xl shadow p-3 flex justify-between">
                            <h4 class="w-1/3 text-gray-900 text-lg font-semibold">{{ expense.name }}</h4>
                            <h4 class="w-1/3 text-gray-900 text-lg text-center text-red-600 font-extrabold">${{ expense.amount }}</h4>
                            <h4 class="w-1/3 text-gray-900 text-lg text-end font-bold">{{ expense.due_date }}</h4>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}